<style>
    h1 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: helvetica;
    }
</style>
<header>
    <br>
    <h1>Editing Recipe</h1>
    <br>
</header>
<body>
    <%= render 'form', recipe: @recipe %>

    <%= link_to 'Show', @recipe, :class => "btn btn-secondary btn-sml row justify-content-center"%>
    <%= link_to 'Back', recipes_path, :class => "btn btn-secondary btn-smlrow justify-content-center"%>
    <br>
</body>
<footer>
    <br><br><br><br>
</footer>