<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}



</style>
</head>

<body>
<div class="home-image">
  <div class="hero-text">
    <h1 style="font-size:50px", font-family="Helvetica">Welcome to Your Personal Cook Book</h1>
  </div>
</div>

</body>
</html>
